/* 폰 화면 영역 */
.phone {
    width: 300px;
    height: 450px;
    border-radius: 5px;
    border: 2px solid #252527;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

/* box 클래스 설정 */
.box {
    width: 90%;
    border-radius: 3px;
    border: 1px solid #303031;
    margin: auto;
}

/* 제목 영역 */
#header {
    height: 70px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    line-height: 70px;
    margin-top: 15px;
}

/** 메인 영역
  * - div#numbers : 연락처 화면
  * - div#calling : 연락 중 화면
  */
#numbers, #calling {
    height: 330px;
    margin-top: 16px;
}

#calling {
    display: none;
}

/* 연락처 테이블 영역 */
table {
    width: 100%;
    height: 100%;
}

/** 연락처 테이블 세부 영역
  * - td.userIcon : 이름 첫 글자
  * - td.userName : 이름
  * - td.callBtn-box : 발신 버튼 박스
  */
.userIcon {
    width: 54px;
}

.userName {
    border-bottom: 1px solid #888888;
}

tr:last-of-type>.userName {
    border: none;
}

.callBtn-box {
    width: 50px;
    text-align: right;
    color: #34A853;
}

.callBtn-box:hover {
    color: #297E40;
}

/* 원 모양 속성 */
.circle {
    width: 45px;
    height: 45px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    color: #FFFFFF;
    background: #EEA7B5;
    border-radius: 50%;
    margin-left: 3px;
    display: inline-block;
}

/* 통화 버튼 */
.callBtn {
    font-size: 40px;
    margin-right: 5px;
    cursor: pointer;
}

/* 연락 중 화면 세부 영역
 * - div.userBox 2개 : 이름 및 번호
 * - div#callBox : 통화 아이콘 박스
 * - div#endBtn-box : 종료 버튼 박스
 */
.userBox, #callBox, #endBtn-box {
    width: 100%;
}

.userBox:first-of-type {
    height: 40px;
    font-size: larger;
    text-align: center;
    line-height: 55px;
}

.userBox:nth-of-type(2) {
    height: 34px;
    text-align: center;
}

#callBox {
    height: 190px;
    text-align: center;
    color: #34A853;
    background-color: #F0F0F0;
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
}

.fa-phone-alt {
    font-size: 120px;
    margin: 35px 0;
}

#endBtn-box {
    height: 64px;
    text-align: center;
}

/* 종료 버튼 */
#endBtn {
    background: #F35653;
    margin-top: 9.5px;
    display: inline-block;
    cursor: pointer;
}

#endBtn:hover {
    background: #E03532;
}

#endBtn>img {
    width: 90%;
    height: 90%;
}

/* 버튼 클릭 효과 */
.callBtn:active, #endBtn:active {
    transform: translateY(3px);
}

/* 반응형 웹 */
@media screen and (max-width: 1024px) {
    .phone {
        width: 90%;
    }
}
